{% extends 'core/base.html' %}
{% load static%}

{% block content%}
{% load crispy_forms_tags%}

    <main class="mt-5 pt-4 ">
        <div class="container">
            <div class="row mt-5">
                <!--Form Container-->
                <div class="col-md-8">
                    <div class="card P-3">
                        <form class="form P-2" method='POST'>
                            {%csrf_token%}
                            <!--SHIPPING ADDRESS-->
                            <div class="hidable_shipping_form p-2">

                                <h3 class="text-center">Shipping Address</h3>

                                <!-- Addresses -->

                                <div class="form-group">
                                    <label for="shipping_address">Street Address</label>
                                    <input type="text" class="form-control" id="shipping_address" aria-describedby=" shipping address" placeholder="1234 Main St" name="shipping_address">
                                </div>
                                <div class="form-group">
                                    <label for="shipping_address2">Apartment Address(Optional)</label>
                                    <input type="text" class="form-control" id="shipping_address2" aria-describedby="shippingaddress2" name="shipping_address2"placeholder="Apartment Address">
                                </div>

                                <!--ROW-->

                                <div class="row">
                                    <!--column1-->
                                        <!--Country-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="country">Country</label>
                                          {%comment%}<select class="custom-select d-block w-100" id="country" required>
                                            <option value="">Choose...</option>
                                            <option>United States</option>
                                          </select>{%endcomment%}
                                          {{form.shipping_country}}
                                          <div class="invalid-feedback">
                                            Please select a valid country.
                                        </div>
                                        </div>
                                    </div>
                                    <!--column2-->
                                        <!--Zip-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="shipping_zip">Zip Code</label>
                                            <input type="text" class="form-control" id="shipping_zip" aria-describedby="shipping_zip" name="shipping_zip" placeholder="2345">
                                        </div>
                                    </div>

                                </div>

                                <!--ROW-->

                                <!--SHIPPING ADDRESS CHECKBOXES-->

                                
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="same_billing_address" name="same_billing_address">
                                    <label class="form-check-label" for="same_billing_address">Billing Address same as Shipping</label>
                                </div>
                                
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="set_default_shipping" name="set_default_shipping">
                                    <label class="form-check-label" for="set_default_shipping">Save as  default Shipping</label>
                                </div>

                            </div>
                            <!--TOGGLES-->
                            {%if default_shipping_address%}
                            <div class="form-check p-4">
                                <input type="checkbox" class="form-check-input" id="use_default_shipping" name="use_default_shipping">
                                <label class="form-check-label" for="use_default_shipping">Use default shipping address {{default_shipping_address.street_address|truncatechars:10}}</label>
                            </div>
                            {%endif%}
                            
                            <!--END OF SHIPPING ADDRESS-->

                            <!--BILLING ADDRESS-->
                            <hr>
                            <div class="hidable_billing_form p-2">

                                <h3 class="text-center">Billing Address</h3>

                                <!-- Addresses -->

                                <div class="form-group">
                                    <label for="billing_address">Street Address</label>
                                    <input type="text" class="form-control" id="billing_address"name="billing_address" aria-describedby="billing_address" placeholder="15667 Main Str">
                                </div>
                                <div class="form-group">
                                    <label for="billing_address2">Apartment Address(Optional)</label>
                                    <input type="text" class="form-control" id="billing_address2" ,name="billing_address2"
                                    aria-describedby="billing_address2" placeholder="Apartment Address">
                                </div>

                                <!--ROW-->

                                <div class="row">
                                    <!--column1-->
                                        <!--Country-->
                                    <div class="col-md-6">
                                        <label for="country">Country</label>
                                        {%comment%}<select class="custom-select d-block w-100" id="country" required>
                                          <option value="">Choose...</option>
                                          <option>United States</option>
                                        </select>{%endcomment%}
                                        {{form.billing_country}}
                                        <div class="invalid-feedback">
                                          Please select a valid country.
                                        </div>
                                    </div>
                                    <!--column2-->
                                        <!--Zip-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="billing_zip">Zip Code</label>
                                            <input type="text" class="form-control" id="billing_zip" 
                                            name="billing_zip"
                                            aria-describedby="zip code" placeholder="12343">
                                        </div>
                                    </div>

                                </div>

                                <!--ROW-->

                                <!--SHIPPING ADDRESS CHECKBOXES-->

                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="set_default_billing" name="set_default_billing">
                                    <label class="form-check-label" for="set_default_billing">Save as default billing address</label>
                                </div>
                            
                            

                            </div>
                            {%if default_billing_address%}
                                    <div class="form-check p-4">
                                        <input type="checkbox" class="form-check-input" id="use_default_billing" name="use_default_billing">
                                        <label class="form-check-label" for="use_default_billing">Use default billing address :{{default_billing_address.street_address|truncatechars:10}}</label>
                                    </div>
                            {%endif%}


                            <!--PAYMENT-->
                            <hr>
                            <div class="payment p-2">
                                <div class="d-block my-3">
                                    {% for value,name in form.fields.payment_option.choices%}
                                        <div class="custom-control custom-radio">
                                            <input id="{{name}}" name="payment_option"type="radio" value="{{value}}" class="custom-control-input" >
                                            
                                            <label class="custom-control-label" for="{{name}}">{{name}}</label>
                                        </div>

                                    {%endfor%}
                                </div>
                            </div>
                            <!--SUBMIT-->
                            <button type="submit" class="btn btn-primary btn-block ">Submit</button>



                        </form>
                    </div>

                </div>

                <!-- SIDE CART-->
                <div class="col-md-4">
                    <div class="w-100">
                        {% include 'core/coupon-snippet.html'%}
                    </div>
                </div>
            </div>
        </div>
    </main>

{%endblock content%}
<!--ADDITIONAL JS-->
{%block extra_scripts%}

<script>
    let hidable_shipping_form = $('.hidable_shipping_form');
    let hidable_billing_form = $('.hidable_billing_form');
    let use_default_billing = document.querySelector('input[name=use_default_billing]');
    let use_default_shipping = document.querySelector('input[name=use_default_shipping]');
    use_default_shipping.addEventListener('change',function(){
        if (this.checked){
            hidable_shipping_form.hide()
        }else{
            hidable_shipping_form.show()
        }
    })
    use_default_billing.addEventListener('change',function(){
        if (this.checked){
            hidable_billing_form.hide()
        }else{
            hidable_billing_form.show()
        }
    })
</script>
{%endblock extra_scripts%}
