
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

        <div class="row">
              <div class="col-md-8">
                        
                    <!-- Heading -->
                    
                    <div class="row">

                    <!--Grid column-->
                        <div class="col-12 mb-4 pt-3">

                          <!--Card-->
                          <div class="card p-3">
                                      <form action="" method="POST" class="pt-3">
                                          {% csrf_token%}
                                        <!--HIDABLE FORM-->
                                        <h3 class="text-center">Shipping Address</h3>
                                        <div class="hidable-shipping-form">
                                          <div class="row"> 
                                            <div class="col-md-6">

                                                    
                                                        {{form.street_address}}
                                                        <label for="address" class="">Address</label>
                                            </div>
                                        
                                              <div class="col-md-6">
                                                        <!--address-2-->
                                                      <div class="md-form mb-5">
                                                        {% comment %}<input type="text" id="address-2" class="form-control" placeholder="Apartment or suite">{%endcomment%}
                                                        {{form.apartment_address}}
                                                        <label for="address-2" class="">Address 2 (optional)</label>
                                                      </div>
                                                </div>
                                      </div>

                                  

                                

                                    <!--Grid row-->
                                    <div class="row">

                                      <!--Grid column-->
                                        <div class="col-lg-4 col-md-12 mb-4">

                                                

                                        </div>
                                      <!--Grid column-->

                                      <!--Grid column-->

                                      <!--Grid column-->

                                      <!--Grid column-->
                                      <div class="col-lg-4 col-md-6 mb-4 ">

                                            <label for="zip">Zip</label>
                                            {%comment%}<input type="text" class="form-control" id="zip" placeholder="" required>{%endcomment%}
                                            {{form.zip_code}}
                                            <div class="invalid-feedback">
                                              Zip code required.
                                            </div>

                                      </div>
                                      <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                                    <hr>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="custom-control custom-checkbox">
                                          <input {%if form.same_billing_address.value %} checked {%endif%} type="checkbox" class="custom-control-input" id="same-address" name="same_billing_address">
                                          
                                          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>

                                        </div>

                                        
                                      </div>
                                      <div class="col-md-6">
                                        <div class="custom-control custom-checkbox">
                                          <input {%if form.save_info.value %} checked {%endif%} type="checkbox" class="custom-control-input" id="save-info" name="save_info">
                                          
                                          <label class="custom-control-label" for="save-info">Save this information for next time</label>
                                        </div>
                                      </div>
                                    </div>
                                    
                                  

                                

                                  

                                  
                                    
                                    <!--HIDABLE FORM-->
                                        </div>
                                        <!--HIDABLE FORM-->
                                        <h3 class="text-center">Billing Address</h3>
                                        <hr> 
                                        <!--BILLING ADDRESS-->
                                        <div class="billing-address">
                                          <div class="row"> 
                                            <div class="col-md-6">

                                                    
                                                        {{form.street_address}}
                                                        <label for="address" class="">Address</label>
                                            </div>
                                        
                                              <div class="col-md-6">
                                                        <!--address-2-->
                                                      <div class="md-form mb-5">
                                                        {% comment %}<input type="text" id="address-2" class="form-control" placeholder="Apartment or suite">{%endcomment%}
                                                        {{form.apartment_address}}
                                                        <label for="address-2" class="">Address 2 (optional)</label>
                                                      </div>
                                                </div>
                                      </div>

                                  

                                

                                    <!--Grid row-->
                                    <div class="row">

                                      <!--Grid column-->
                                        <div class="col-lg-4 col-md-12 mb-4">

                                                <label for="country">Country</label>
                                                {%comment%}<select class="custom-select d-block w-100" id="country" required>
                                                  <option value="">Choose...</option>
                                                  <option>United States</option>
                                                </select>{%endcomment%}
                                                {{form.country}}
                                                <div class="invalid-feedback">
                                                  Please select a valid country.
                                                </div>

                                        </div>
                                    
                                      <div class="col-lg-4 col-md-6 mb-4 ">

                                            <label for="zip">Zip</label>
                                            {%comment%}<input type="text" class="form-control" id="zip" placeholder="" required>{%endcomment%}
                                            {{form.zip_code}}
                                            <div class="invalid-feedback">
                                              Zip code required.
                                            </div>

                                      </div>
                                      <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                                    <hr>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="custom-control custom-checkbox">
                                          <input {%if form.same_billing_address.value %} checked {%endif%} type="checkbox" class="custom-control-input" id="same-address" name="same_billing_address">
                                          
                                          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>

                                        </div>

                                        
                                      </div>
                                      <div class="col-md-6">
                                        <div class="custom-control custom-checkbox">
                                          <input {%if form.save_info.value %} checked {%endif%} type="checkbox" class="custom-control-input" id="save-info" name="save_info">
                                          
                                          <label class="custom-control-label" for="save-info">Save this information for next time</label>
                                        </div>
                                      </div>
                                    </div>
                                    
                                  

                                    
                                        </div<!--HIDABLE FORM-->
                                        </div>
                                        <h3 class="text-center">Payment </h3>
                                        <hr>
                                        <!--PAYMENT-->
                                        <div class="payment pt-2 ">
                                            
                                    

                                          <div class="d-block my-3">
                                                {% for value,name in form.fields.payment_option.choices%}
                                                  <div class="custom-control custom-radio">
                                                    <input id="{{name}}" name="payment_option"type="radio" value="{{value}}" class="custom-control-input" >
                                                    
                                                    <label class="custom-control-label" for="{{name}}">{{name}}</label>
                                                  </div>

                                                {%endfor%}
                                          </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block ">Submit</button>

                                      

                                      </form>

                                </div>
                                <!--/.Card-->

                              </div>

                    </div>

                      
              </div>


  



              <div class="col-md-4 pt-5 mt-3">
                {% include 'core/coupon-snippet.html'%}
              </div>
      </div>
  </div>
</main>
<!--Main layout-->




{% endblock content%}
